@import "./helperstyles/variables.styl"
.blog-container
    padding 30px
    margin 10px
    width: 100%
    background: #EEE
    .blog-title
        font-size 3em
        text-align: left
        font-weight: lighter
    p 
        text-align: justify
    .btn-blog-container
        width: 100%
        margin 0 auto
        display: flex
        justify-content: space-between
        .btn-blog
            padding: 10px
            border-radius: 5px
            flex-basis 40%
            background blue
            color #FFF
            display flex
            align-items center
            justify-content center
            margin 10px
            text-decoration: none
            transition .5s ease-out
            &:hover
                background: green
                transition .5s ease-in-out

    
.profile-container
    margin 10px
    padding 20px
    font-size 2em
    .profile-panel
        h1
            font-size 4em
            font-weight: lighter
            animation fadeIn 3s;
        p 
         font-size: .65em
.main-panel
    position relative
    display: block
    width: 150px
    height 150px
    &::after
        content: "My Creations"
        position: absolute
        top: 0
        left: 0
        width: 150px
        height 150px
        font-size: 1.5em
        display: flex
        justify-content: center
        align-items: center
        background: blogColor
        color: #FFF
        border-top-right-radius: 50%
        border-bottom-right-radius: 50%

.blog-main
    padding: 20px
.blog-create
    text-align: center
    padding 20px
    font-size 2em
    h2
     font-size 1.2em
     width 100%
     text-align: center
     font-weight: lighter
     margin 0 auto
     display block
    p 
      font-size .75em
@keyframes fadeIn 
    0% 
        opacity 0
    100%
        opacity 1
@media screen and (min-width: 968px) 
  .btn-blog-container
      width: 100% !important
      margin-left auto